html {
  height: 100%;
  overflow: auto;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  overflow: auto;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: -1;
}

/* Sidebar styles */
.sidebar {
  width: 300px;
  background-color: #030303;
  padding: 10px;
  font-family: Impact, sans-serif;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.datasection {
  margin-left: 320px;
  padding: 20px;
}

.logo img {
  max-width: 100%;
}

.filterdata {
  margin-top: 20px;
}

.filterdata label,
.filterdata select {
  display: block;
  margin-bottom: 10px;
}

.filterdata select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.details {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  text-decoration: none; 
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#flights {
  font-family: 'Times New Roman', Times, serif;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: -15px;
  color: white;
}

.card {
  width: 300px;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 9px;
  color: white;
  background: #030303;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
}

.card p {
  margin-bottom: 10px;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.button-container a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: gray;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Times New Roman', Times, serif;
}

.button-container a:hover {
  background-color: gray;
}

.button-container a:first-child {
  margin-right: 10px;
}

.button-container a:last-child {
  margin-left: 10px;
}

.button-box {
  background-color: rgb(226, 0, 0);
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

/* CSS styles for developer section */
.developer-section {
  position: absolute;
  bottom: 40px;
  left: 20px;
  font-size: 16px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}

.developer-section1 {
  position: absolute;
  bottom: 40px;
  left: 110px;
  font-size: 16px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}



/* Responsive styles */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    z-index: initial;
  }

  .datasection {
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
  }

  .card-container {
    display: block;
    margin-top: 0;
  }

  .card {
    width: 100%;
    margin-right: 0;
  }
  .developer-section {
    position: relative;
    bottom: initial;
    left: initial;
    margin-top: 20px;
  }

  .developer-section1 {
    position: relative;
    bottom: initial;
    left: initial;
    margin-top: -33px;
    left: 90px;
  }

}